.food h1 {
  font-size: 2em;
  text-align: center;
  text-decoration: underline;
  color: pink;
  font-family: cursive;
  font-style: underline;
  margin-top: 20px;



}



.food h2 {
  font-size: 2em;
  text: arial;
  color: pink;
  text-align: center;
  font-style: normal;
  margin-top: 20px
}

.food p {
  font-size: 1em;
  text-align: center;
  font-family: cursive;
  font-style: italic;
}

.masthead1 {
  height: 40vh;
  min-height: 100px;
  background-image: url(../images/brunch.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.masthead1 h1 {
  padding-left: 20px;
  padding-top: 100px;
}
.masthead1 p {
  padding-left: 20px;
  padding-top: 75px;
}


.qe {
  background-color: black;
}

.qe h1 {
  font-size: 2em;
  font-family: cursive;
  font-style: italic;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
}

.row {
  display: flex;
  background-color: black;
  color: pink;
  padding-top: 10px;
  font-family: cursive;
}

.column {
  flex: 50%;
  padding-left:350px;
  height: 200px;
}

.row h3 {
  font-size: 1.5em;
  text-decoration: underline;
  color: pink;
  font-family: cursive;
  font-style: underline;
}

.row h2 {
  font-size: 1em;
  padding: 10px;
}

.footer {
  background-color: white;
}

.bfooter {
  padding-left: 800px;
  padding-top: 40px;
}
