.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url(../images/brunch.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
    padding-top: 50px; /* Whatever the height of your navbar is; the
                             default is 50px */
    /* background-color: rgb(121, 186, 124);

*/
}
.contact{
  background-image: url(../images/granola.jpg);
  background-size: contain;
}

.page-footer1 {
  background-color: white;
  background-size: cover;
  float: none;
  clear: both;

}

.containera {
  background-color: rgb(80, 112, 82)
}

.page-footer2 {
  background-color: white;
}
